.top-nav-bar {
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid #feca57;
    z-index: 2;
}

.search-box {
    display: inline-flex;
    width: 60%;
}

.fa-search {
    color: #fff;
}

.form-control {
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid orange !importent;
    border-top-left-radius: 20px !importent;
    border-bottom-left-radius: 20px !importent;
    border-top-right-radius: 0 !importent;
    border-bottom-right-radius: 0 !importent;
    box-shadow: none !importent;
}

span.input-group-text {
    background: orange;
    border: 1px solid orange;
    margin: 8.7px 10px 3px 0;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.menu-bar {
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    border-left: 1px solid #fff;
    list-style: none;
    padding: 15px 35px;
    text-align: center;
    background-color: #ff9f43;
    cursor: pointer;
}

.menu-bar ul li a {
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;

}